<html>
<head><title>Run it</title></head>
<body>
<h1>    1001649932</h1>
<h1>Sai teja  didigam</h1>
<h1>Displaying database contents</h1>

<a href="/max">Max records</a>
<a href="/magRange">Mag range</a>
<a href="/new">new</a>
<a href="/latilong">latitude longitude</a>
<a href="/counttt">Highestmag</a>
<a href="/timeee">time</a>
<a href="/searchtime">searchtime</a>
<a href="/searchcsv">searchcountry</a>
<a href="/magcsv">magcsv</a>
<a href="/latlongcsv">latlongcsv</a>
<a href="/rangecsv">rangecsv</a>








<div id="table-wrapper">
    <div id="table-scroll">
<table border="1">
    <tr><td>Count {{ count }}</td></tr>
    <!--{% for rows in data %}
    <tr>
        <td>{{ rows }}</td>


    </tr>
    {% endfor %}-->

</table>
    </div>
</div>
<br>





</body>
</html>
